{% extends 'base.html' %}

{% load static %}

{% block contenidoquecambia %}
     
<h2>Acerca de mi:</h2>
<p>Mi nombre es Marcos Ignacio Lopez Durante, soy estudiante de ingenieria en informatica en la UBA (2do año).</p>
<p>Me meti a este curso porque queria aprender un nuevo lenguaje de programacion, ademas Python es uno de los lenguajes mas usados en la programacion, asi que, porque no hacerlo?. Mientras hago algunas materias para la facultad me puedo interiorizar un poco mas con la programacion.</p>
<p>No tengo mucho para decir, este proyecto es mi primera vez usando Django (nunca lo use) y se me hizo bastante dificil agarrale la mano en un principio, pero segui intentando apesar de todas las complicaciones y responsabilidades de la facultad, 
    hoy en dia estoy feliz de que lo halla logrado. No es perfecto, pero se que con el suficiente tiempo podre hacer una pagina mas estetica y funcional.</p>
    
{% endblock contenidoquecambia %}