{% extends 'base.html' %}

{% load static %}

{% block contenidoquecambia %}  

    <table>
        <thead>
            <tr>
                <th>Comida</th>

                <th>Ingredientes</th>
            </tr>
        </thead>
        <tbody>
            
            {% for c in comidas %}
                <tr>
                    <th>{{c.nombre}}</th>

                    <th>{{c.ingredientes}}</th>
                </tr>            
                
            {% endfor %}
                
        </tbody>
    </table>

    
{% endblock contenidoquecambia %}